@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie_card_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  transition: transform 0.3s ease;
  animation: fadeInUp 0.5s ease forwards;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  padding-top: 50px;
}

.img-card {
  height: 450px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.title-card {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 17px;
  margin-top: 10px;
}

.container-title-card{
  background-color: #1c1c1c;
  height: 70px;
  width: 100%;
  padding: 10px;
}

@media(max-width:768px) {
 /* MOVIECARD.JSX */
  .movie_card_container {
    padding: 2px;
    bottom: -115px;
  }

  .img-card {
    height: 350px; /* menos alto para móviles */
  }

  .title-card {
    font-size: 14px;
    font-family: 'Roboto';
    text-align: center;
  }

  .container-title-card {
    height: 55px;
    padding: 8px;
  }
  }
